* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #413C58;
    text-align: center;
  }
  
  .container {
    height: 65vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  .heading{
    padding-top: 1rem;
    color: #fff;
  }
  .choosePlayer{
    color: #fff;
  }
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #A3C4BC;
  }
  .choosePlayerBtn{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  #turnO{
    padding: 0.8rem;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #F2DDA4;
    color: #000;
    border-radius: 0.5rem;
    border: none;
  }
  #turnX{
    padding: 0.8rem;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #F2DDA4;
    color: #000;
    border-radius: 0.5rem;
    border: none;
  }
  #reset-btn {
    padding: 0.8rem;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #F2DDA4;
    color: #000;
    border-radius: 0.5rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #F2DDA4;
    color: #000;
    font-weight: 700;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #fff;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }